.appBarNavigationParent,
.chatpage {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.appBarNavigationParent {
  width: 1192px;
  height: 1024px;
  flex-shrink: 0;
  overflow: hidden;
  flex-direction: column;
}
.chatpage {
  position: relative;
  background-color: var(--light-background-default);
  width: 100%;
  flex-direction: row;
}
