.chatpage,
.secondcolumn {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.secondcolumn {
  align-self: stretch;
  flex: 1;
  overflow: hidden;
  flex-direction: column;
}
.chatpage {
  position: relative;
  background-color: var(--light-background-default);
  width: 100%;
  height: 1024px;
  flex-direction: row;
}
