.helloMrRoboto {
  position: relative;
  letter-spacing: 0.4px;
  line-height: 34px;
  text-transform: capitalize;
}
.helloMrRobotoWrapper,
.main {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-mid) var(--padding-2xl);
  align-items: flex-start;
  justify-content: flex-start;
}
.main {
  align-self: stretch;
  flex: 1;
  padding: var(--padding-3xs);
  text-align: left;
  font-size: var(--main-header-size);
  color: var(--color-black);
  font-family: var(--main-header);
}
